.container {

    background-color: #61dafb;
    border-radius: 2rem;
}
.ccc{
    display: flex;
    flex-direction: row;
}

.TodoList__list{
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    background: grey;
    border-radius: 1rem;
    transition: 500ms;
}
.Icon__Add{
    border-radius: 2rem;
}
.TodoList__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;

}
.TodoList__list:hover {
    background: transparent;
}


table {
    border: 2px solid black;
    position: relative;

    padding-left: 1rem;
    border-radius: 2rem;
    width: 100%;

}
th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
}
